pandas==2.0.2
numpy==1.23.5
seaborn==0.12.2
matplotlib==3.7.1
Flask==2.3.2
scikit-learn==1.2.2
mysql.connector==2.2.9
cassandra-driver==3.27.0
joblib==1.2.0
gunicorn==19.7.1
regex==2023.10.3
nltk==3.8.1
spacy==3.7.2
tensorflow==2.12.0
keras==2.12.0
tqdm==4.66.1

-e .
